#navigation {
    position:relative;
    top:30px;
    left:20%;
}

#cursuri {
    position: relative;
    display: inline-block;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

#seminare {
    position: relative;
    display: inline-block;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

  .menu {
    position: relative;
    display: inline-block;
  }

.menubtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menubtn:hover, .menubtn:focus {
    background-color: #2980B9;
  }

  
  .menuContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menuContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu a:hover {background-color: #ddd;}
  
  .show {display: block;}