.courseItem {
     position: relative;
     background-color: #dadada;
     color: rgb(0, 0, 0);
     padding: 10px 26px;
     font-size: 16px;
     border: none;
     display: block;
}

.CourseDex {
     display: grid;
     display: flex;
    position: fixed;
    justify-content: left;
}
 
 #cursurilemele {
     font-size: 26px;
     display: flex;
     display: inline-block;
     padding-left: 20px;
 }
 
 
 #lista {
     list-style-type: none;
 }

 #addCurs {
     position: relative;
     background-color: #0a0141;
     font-size: 20px;
     padding: 3px 10px;
     left: 20px;
     border: none;
     color: #f1f1f1;
 }

 #addCurs:hover {
     background-color: #8EC3B0;
     color: #000;
     border:rgb(0, 0, 0) 2px;
     font-size: 25px;
 }
 
 
 #removeCurs {
     position: relative;
     background-color: #0a0141;
     font-size: 20px;
     padding: 3px 13px;
     left: 23px;
     border: none;
     color: #f1f1f1;
 }
 

 
 #removeCurs:hover {
     background-color: #8EC3B0;
     color: #000;
     border:rgb(0, 0, 0) 2px;
     font-size: 25px;
 }
 
 
 
 #namealph {
     position: relative;
     display: inline-block;
     background-color: #239793;
     color: white;
     font-size: 20px;
     border: none;
     padding: 16px 21px;
     left: 10%;
 }
 
 #date {
     position: relative;
     display: inline-block;
     background-color: #239793;
     color: white;
     padding: 16px 26px;
     font-size: 20px;
     border: none;
     left: 56px;
 }
 
 
 * {
     box-sizing: border-box;
   }
   
 .courseName {
     position: relative;
     background-color: #dadada;
     color: rgb(0, 0, 0);
     padding: 10px 26px;
     font-size: 16px;
     border: none;
     display: block;
 }
 
 
 
 
 
 
 
 