.NavigationAboutMe{
    display: flex;
    position: fixed;
    top: 150px;
    left: 5.9%;
    justify-content: space-between;
    transform: translate(-50%);
    width: 100px;
    height: 70%;
    background-color: #8EC3B0;
    box-shadow: -5px 10px 15px rgba(43, 43, 43, 0.25);
}

.aboutMe-list {
    align-items: top;
    font-size: 12px;
    padding-top: 20px;
    padding-left: 5px;
    line-height: 10px;
    /*list-style: none;*/
    justify-content: flex-start;
    gap: 50px;
    text-align: center;
    display: flex;    
    flex-direction: column;
}

.aboutMe-links {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    white-space: nowrap;
    font-family: 'Karla', sans-serif;
}

.aboutMe-links:hover {
    background-color: #DEF5E5;
    color:black;
    transition: all 1s ease;
    border-radius: 5px;
}

/*responsive*/
@media screen and (max-width: 550px) {
    .NavigationAboutMe {
        z-index: 99;
    }

    .aboutMe-list-list {
        top:0;
        left:0%;
        display: flex;
        margin:0px;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        background-color: #8EC3B0;
        box-shadow:  0 5px 15px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: auto;
        position: absolute;
    }
}
