* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;
  }
  
  .CourseDex {
    background-size: "cover";
    height: 100vh;
    width: 100%;
    margin-top: 0px;
    font-size:50px;
    background-repeat:no-repeat;
    background-image: linear-gradient(79deg,#8EC3B0, #9ED5C5 50%, #DEF5E5);

  }
  
  h1 {
    text-align: center;
    border: 4px solid black; 
    color: #DEF5E5;
    background-color: #24A19C;
    text-shadow: 4px 4px black;
    font-size: 30px;
  }

  .listOfCourses {
    top: 170px;
    left: 0%;
    width: 1320px;
    height: 528px;
    background-color: rgb(255, 255, 255);
  }
  

.courseItem {
     position: relative;
     background-color: #dadada;
     color: rgb(0, 0, 0);
     padding: 10px 6px;
     width: 100px;
     font-size: 16px;
     border: none;
     display: block;
     align-items: center;
}



.cursuri {
    display: grid;
    display: flex;
   position: fixed;
   justify-content: center;
   left: 139px;
   top: 150px;
}
 

 #cursurilemele {
     font-size: 26px;
     display: flex;
     display: inline-block;
     padding: 7px;
     letter-spacing: 4px;
 }
 
 


 #addCurs {
     position: relative;
     background-color: #0a0141;
     font-size: 20px;
     padding: 3px 10px;
     left: 20px;
     border: none;
     color: #f1f1f1;
     cursor: pointer;

 }

 #addCurs:hover {
     background-color: #8EC3B0;
     color: #000;
     border:rgb(0, 0, 0) 2px;
     font-size: 25px;
 }
 
 
 #removeCurs {
     position: relative;
     background-color: #0a0141;
     font-size: 20px;
     padding: 3px 13px;
     left: 23px;
     border: none;
     color: #f1f1f1;
     cursor: pointer;
 }
 

 
 #removeCurs:hover {
     background-color: #8EC3B0;
     color: #000;
     border:rgb(0, 0, 0) 2px;
     font-size: 25px;
 }
 
 
 
 #namealph {
     position: relative;
     display: inline-block;
     background-color: #239793;
     color: white;
     font-size: 20px;
     border: none;
     padding: 16px 21px;
     left: 3%;
     cursor: pointer;
 }
 
 #date {
     position: relative;
     display: inline-block;
     background-color: #239793;
     color: white;
     padding: 16px 26px;
     font-size: 20px;
     border: none;
     left: 56px;
     cursor: pointer;
 }
 
 
 * {
     box-sizing: border-box;
     
   }
   
 .courseName {
     position: relative;
     background-color: #dadada;
     color: rgb(0, 0, 0);
     padding: 10px 26px;
     font-size: 16px;
     left: 30px;
     border: none;
     display: block;
     top: 22px;
     cursor: pointer;
     width: 600px;
     margin: 2px auto;
    }


 
 
 
 
 