.CreateNote {
    position: absolute;
    background-color: rgb(245, 244, 244);
    
    height: 70%;
    width: 60%;
    left: 20%;

    border: 1px solid black;
    border-radius: 20px;
}

#two_buttons {
    padding-top: 10px;
}

#dropdown-basic-button {
    background-color: blueviolet;
    font-size: small;
}

.subjectsSelect {
    font-size: 12px;
    background-color: #9ED5C5;
    margin-bottom: 13px;
    width: 190px;
}

#textPar {
    float: left;
    width: 45%;
    height: 500px;

    font-size: 15px;
    resize: none;
}

#markDown {
    float: right;
    background-color: #9ED5C5;
    border: 2px solid black;

    height: 500px;
    width: 45%;

    word-wrap: break-word;
    font-size: 15px;
    padding-left: 20px;

    /* Pentru scroll: */
    overflow-x: hidden;
    overflow-y: auto;
}





