.CreateNote {
    position: absolute;
    background-color: rgb(245, 244, 244);
    height: 540PX;
    width: 1100PX;
    left: 250px;
    top: 180px;
    border: 1px solid black;
    border-radius: 20px;
}

#titlu {
    font-size: 20px;
    padding: 10px;
    text-align: left;
    margin-left: 403px;
    text-shadow: 1px 1px #24A19C;
    
}

#titleinput {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

#renunta, #salveaza {
    bottom: 20px;
}

#dropdown-basic-button {
    background-color: blueviolet;
    font-size: small;
}

.subjectsSelect {
    font-size: 15px;
    background-color: #9ED5C5;
    margin-bottom: 13px;
}

#content {
    width: 100px;
    height: 322px;
}