
  .Groups {
    background-size: "cover";
    height: 110vh; 
    width: 100%;
    margin-top: 0px;
    font-size:50px;
    background-repeat:no-repeat;
    background-image: linear-gradient(75deg,#ddf3e6, #99dbad 50%, #ddf3e6);

  }

  h1 {
    text-align: center;
    border: 1px solid black; 
    color: #DEF5E5;
    background-color: #24A19C;
    text-shadow: 4px 4px black;
    font-size: 30px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    display: inline-block;
    padding: 10px;
    letter-spacing: 4px;
  }
  
  #addGroup {
    position: relative;
    background-color: #0a0141;
    font-size: 20px;
    padding: 3px 10px;
    left: 20px;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
    border-radius: 10px;
}

#addGroup:hover {
    background-color: #8EC3B0;
    color: #000;
    border:rgb(0, 0, 0) 2px;
    font-size: 25px;
}

.studentGroups {
  padding-top: 100px;
  padding-left: 120px;
}





 

 
 
 
 
