* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;
  }
  
  .CourseDex {
    background-size: "cover";
    height: 110vh; 
    width: 100%;
    margin-top: 0px;
    font-size:50px;
    background-repeat:no-repeat;
    background-image: linear-gradient(75deg,#ddf3e6, #99dbad 50%, #ddf3e6);

  }
  
  h1 {
    text-align: center;
    border: 1px solid black; 
    color: #DEF5E5;
    background-color: #24A19C;
    text-shadow: 4px 4px black;
    font-size: 30px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    display: inline-block;
    padding: 10px;
    letter-spacing: 4px;
  }

  

.courseItem {
     position: relative;
     background-color: #dadada;
     color: rgb(0, 0, 0);
     padding: 10px 6px;
     width: 100px;
     font-size: 16px;
     border: none;
     display: block;
     align-items: center;
}



.cursuri {
   padding-top: 100px;
   padding-left: 120px;
}
 



 #addCurs {
     position: relative;
     background-color: #0a0141;
     font-size: 20px;
     padding: 3px 10px;
     left: 20px;
     border: none;
     color: #f1f1f1;
     cursor: pointer;
     border-radius: 10px;


 }

 #addCurs:hover {
     background-color: #8EC3B0;
     color: #000;
     border:rgb(0, 0, 0) 2px;
     font-size: 25px;
 }
 
 
 #removeCurs {
     position: relative;
     background-color: #0a0141;
     font-size: 20px;
     padding: 3px 13px;
     left: 23px;
     border: none;
     color: #f1f1f1;
     cursor: pointer;
     border-radius: 10px;

 }
 

 
 #removeCurs:hover {
     background-color: #8EC3B0;
     color: #000;
     border:rgb(0, 0, 0) 2px;
     font-size: 25px;
 }
 
 
 
 #namealph {
     position: relative;
     display: inline-block;
     background-color: #0a0141;
     color: #f1f1f1;
     font-size: 15px;
     border: none;
     cursor: pointer;
    padding: 3px 10px;
    border-radius: 5px;  
    margin: 0px 10px 0px 10px; 
 
 }
 
 #date {
     position: relative;
     display: inline-block;
     background-color: #0a0141;
     color: #f1f1f1;
     padding: 3px 10px;
     font-size: 15px;
     border: none;
     cursor: pointer;   
    border-radius: 5px;
 }
 
* {
     box-sizing: border-box;
     
   }  

 text {
  font-size: 20px;
 }  
   
 .courseName {
     position: relative;
     background-color: #DEF5E5;
     color: rgb(0, 0, 0);
     padding: 10px 26px;
     font-size: 25px;
     border: none;
     display: block;
     cursor: pointer;
     width: 50%;
     margin: 2px auto;
     top: 30px;
    }


 
 
 
 
 