* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;
  }
  
  .view {
    background-size: "cover";
    min-height: 100%; 
    position: absolute;
    width: 100%;
    font-size:50px;
    background-repeat:no-repeat;
    background-image: linear-gradient(75deg,#ddf3e6, #99dbad 50%, #ddf3e6);
    text-align: center;
    display: block;
  }

  #view_note {
    border: 1px solid black; 
    color: #DEF5E5;
    background-color: #24A19C;
    text-shadow: 4px 4px black;
    font-size: 30px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    display: inline-block;
    padding: 10px;
    letter-spacing: 4px;
  }
  
  .CreateView {
    position: absolute;
    background-color: rgb(245, 244, 244);
    
    height: 80%;
    width: 40%;

    left: 30%;
    top: 100px;

    border: 1px solid black;
    border-radius: 20px;
}

#titleinput1 {
    width: 30%;
}

#titleinput2 {
    width: 50%;
}


#dropdown-basic-button {
    background-color: blueviolet;
    font-size: small;
}


#mark_down {
    background-color: #9ED5C5;
    border: 2px solid black;
    height: 40vh;
    width: 70%;

    word-wrap: break-word;
    font-size: 15px;
    position: absolute;
    margin-left: 15%;

    /* Pentru scroll: */
    overflow-x: hidden;
    overflow-y: auto;
}




